<%= render "shared/header" %>
<div class="container">
  <div class="search-results-group">
    <% @search_results.each do |result| %>
      <div class="search-result">
        <p class="result-title">
        <%= result.title %>
        </p>
        <p>
        <%= result.excerpt.html_safe %>
        </p>
        <p>
        <% if result.audio_url %>
          <%= link_to "Listen to related audio.", result.audio_url %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
</div>
