<div class="header">
  <ul>
    <li class="title"> <%= link_to "KPCC Article Search",  root_url, class: "title" %></li>
    <li> <%= render "shared/search_field" %></li>
  </ul>
  <div class="container">
    <div class="results-counter">
      Displaying <%= @search_results.count %> results
    </div>
  </div>
</div>
