.header {
  font-family: Arial;
  margin-bottom: 1em;
  .results-counter {
    margin: 5px 0px 0px 15px;
    padding: 3px 0px 0px 25px;
    font-family: Arial;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
    display: block;
    padding: 20px 10px;
    a {
      color: white;
      text-align: center;
      text-decoration: none;
    }
    .search-lable {
      display: none;
    }
    .search-field {
      border: 0;
      height: 2.5em;
      padding-left: 1em;
      font-weight: bold;
    }
    .btn {
      padding: 8px 32px 8px;
    }
  }
  .title {
    color: $base-color;
    text-transform: uppercase;
    font-size: 120%;
    margin-top: 2px;
    &:hover {
      background-color: #111;
    }
  }
}
