.header {
  font-family: Arial;
  margin-bottom: 1em;
  .results-counter {
    margin: 5px 0px 0px 15px;
    padding: 3px 0px 0px 25px;
    font-family: Arial;

  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  li {
    float: left;
    display: block;
    padding: 24px 16px;
    a {
      color: white;
      text-align: center;
      text-decoration: none;
    }
    &:hover {
      background-color: #111;
    }
  }
  .title {
    color: $base-color;
    text-transform: uppercase;
    &:hover {
      background-color: #333;
    }
  }
}
